# compiled code
*.pyc

# fr0st temps files
*.bak

# visual studio
.vscode

# PyCharm files
.idea

# virtualenv
mindmurmurvirtualenv

# local conf files
fr0st-master/fr0st/config.cfg
fr0st-master/fr0st/changes.bak
fr0st-master/fr0st/renders.bak
fr0st-master/fr0st/fr0st\\renders/
