{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
  {% if alert_success %}
  <div class="alert alert-success alert-dismissable show">
    Success! {{alert_success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% if alert_error %}
  <div class="alert alert-danger alert-dismissable show">
    Error: {{alert_error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  <h3>Mind Murmur Controller</h3>
  <hr>
  <div>
    <p>Status (Tap To Execute Run Script):</p>
    {% for status in statuses %}
    <div style="display:inline;border:1px;background-color:{{status.color}};padding:5px" onclick="showhideStatus('{{status.id}}')">{{status.name}}</div>
    {% endfor %}
    {% for status in statuses %}
    <div id="status_{{status.id}}" style="display:none">
      <hr>
      <p>{{status.name}} is {{status.text}}. Details: {{status.details}}</p>
      <p>Controls for {{status.name}}:</p>
      <form action="/api/run/{{status.id}}" method="post" style="display:inline">
        <button class="btn-danger">Run {{status.id}} script<br>(WARNING: careful to not run it twice)</button>
      </form>
    </div>
    {% endfor %}
  </div>
  <hr>
  <div>
    <p>Current Meditation Level: {{fr0stlevel}}</p>
  </div>
  <hr>
  <div>
    <p>Trigger Meditation Level:</p>
    {% for level in fr0stlevels %}
    <form action="/api/fr0stlevel/{{level.id}}" method="post" style="display:inline">
      <button class="btn-default">{{level.name}}</button>
    </form>
    {% endfor %}
  </div>
  <hr>
  <div>
    <p>Current Heart Rate: {{heartrate}}</p>
    <p>Heart Rate History</p>
    <pre>{{'\n'.join(heartrate_history)}}</pre>
  </div>
  <hr>
  <div>
    <p>MQ Message History</p>
    <pre>{{'\n'.join(mqmessages)}}</pre>
  </div>
</div>

{% endblock %}
