{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
  {% if alert_success %}
  <div class="alert alert-success alert-dismissable show">
    Success! {{alert_success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="removeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% if alert_error %}
  <div class="alert alert-danger alert-dismissable show">
    Error: {{alert_error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="removeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  <h3>Mind Murmur Controller</h3>
  <hr>
  <div>
    <p>Status (Tap To Execute Run Script):</p>
    {% for status in statuses %}
    <div style="display:inline;border:1px;background-color:{{status.color}};padding:5px" onclick="showhideStatus('{{status.id}}')">{{status.name}}</div>
    {% endfor %}
    {% for status in statuses %}
    <div id="status_{{status.id}}" style="display:none">
      <hr>
      <p>{{status.name}} is {{status.text}}. Details: {{status.details}}</p>
      <p>Controls for {{status.name}}:</p>
      <form action="/api/run/{{status.id}}" method="post" style="display:inline">
        <button class="btn btn-danger">Run {{status.id}} script<br>(WARNING: careful to not run it twice)</button>
      </form>
    </div>
    {% endfor %}
  </div>
  <hr>
  <div>
    <p>Current Meditation Level: {{state}}</p>
    <p>Trigger Meditation Level:</p>
    {% for level in states %}
    <form action="/api/state/{{level.id}}" method="post" style="display:inline">
      <button class="btn btn-default">{{level.name}}</button>
    </form>
    {% endfor %}
  </div>
  <hr>
  <div>
    <p>Meditation Level History</p>
    <pre>{{'\n'.join(state_history)}}</pre>
  </div>
  <hr>
  <div>
    <p>Current Heart Rate: {{heart_rate}}</p>
    <p>Trigger Heart Rate:</p>
    <form action="/api/heart_rate" method="post" style="display:inline">
      <label for="heart_rate">Heart Rate:</label>
      <input type="range" class="form-control-range" id="heart_rate_slider" name="heart_rate" value="{{heart_rate}}" min="0" max="180" oninput="updateHeartRate()">
      <p>Selected Value: <span id="heart_rate">{{heart_rate}}</span></p>
      <button class="btn btn-primary">Trigger Heart Rate</button>
    </form>
  </div>
  <hr>
  <div>
    <p>Heart Rate History</p>
    <pre>{{'\n'.join(heart_rate_history)}}</pre>
  </div>
</div>

{% endblock %}
